.App {
  text-align: center;
}


.App-header {
  background-color: #5f7dad;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
}

.Profile-button {
	background-color:#37a1e8;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
  width: 160px;
	border:1px solid #005994;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:12px;
	text-decoration:none;
  margin-top: 10px;
}
.Profile-button:hover {
	background-color:#005ac7;
}
.Profile-button:active {
	position:relative;
	top:1px;
}

.Properties-table {
  margin-left:auto;
  margin-right:auto;
  text-align: left;
  border: solid thin;
  padding:3px 3 px;
  background: #c3cbd8;

}
.Properties-table tr {
  border: solid thin;
}

.Properties-table td:nth-child(even) {
  background:#ffffff;
}
